[submodule "sovereign-mesh"]
	path = sovereign-mesh
	url = /home/aellok/sovereign-mesh
[submodule "quantasona-mesh"]
	path = quantasona-mesh
	url = /home/aellok/quantasona-mesh
[submodule "sovereign-connect"]
	path = sovereign-connect
	url = /home/aellok/sovereign-connect
[submodule "sovereign-node-go"]
	path = sovereign-node-go
	url = /home/aellok/sovereign-node-go
[submodule "sovereign-kernel"]
	path = sovereign-kernel
	url = /home/aellok/sovereign-kernel
[submodule "sovereign-visualizer"]
	path = sovereign-visualizer
	url = /home/aellok/sovereign-visualizer
[submodule "sovereign-ui"]
	path = sovereign-ui
	url = /home/aellok/sovereign-ui
[submodule "antigravity-bridge"]
	path = antigravity-bridge
	url = /home/aellok/antigravity-bridge
