go 1.22

use (
	.
	./quantasona-demo/backend
	./sovereign-connect
	./sovereign-kernel
	./sovereign-mesh
	./sovereign-mesh/amln-sen
	./sovereign-mesh/proto
	./sovereign-node-go
	./sovereign-node-go/metaprogramming-go/metaprogramming-go-master
)
